body {
	background-color: #000000;
	color: white;
}

/* wew. css priorities... :link didn't work on ff58, worked on ff60. :any-link works. */
a:any-link {
	color: #0a8dff; 
}


/*
a {
	color: #0a8dff;
}

a:link:hover {
	border-bottom: 1px solid;
}
*/
a:link:active {
	/*filter: invert(100%);*/
	text-decoration: none;
}

#plus-button {
	border: 1px solid black;
	background-color: white !important;
}

#plus-button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

