body {
	margin: 2em 2em 4em;
	-moz-user-select: text;
	user-select: text;
	cursor: auto;
	--hover-opacity: 0.6;
}

/* These ones are for the anchors. */
h4 {
	position: relative;
}
h4[id]:hover::after {
	cursor:pointer;
	overflow: hidden;
	white-space: break-spaces;
	animation: appear 0.5s ease-in;
	display: inline-flex;
	word-break: break-word;
	text-overflow: clip;
	position: absolute;
	--hover-opacity: 0.6;
}
h4[id]:hover::after{
	content: ' - Click to set to auto-scroll here';
}
h4[id]::before {
	content: '# ';
	opacity: 0.2;
}
h4.auto-scrolled[id]:hover::after{
	content: ' - Click to reset auto-scroll';
}
h4.auto-scrolled[id] {
	animation-name: flash;
	animation-duration: 4.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}
@keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: var(--hover-opacity);
	}
}
@keyframes appear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: var(--hover-opacity);
	}
}

/* Some chinese definitions come with their own bg-color.
 * It totally messes up the display.
 * Remove it with this.
 */
body *:not(#plus-button):not(a) {
	background-color: unset !important;
}

/* wew. css priorities... :link didn't work on ff58, worked on ff60. :any-link works. */
a.link-actual:any-link {
	text-decoration: underline;
}

a:any-link {
	text-decoration: none;
}

a:link:hover {
	border-bottom: 1px solid;
}

a:link:active {
	filter: invert(100%);
}

#plus-button {
	cursor: auto;
	border: 1px outset ThreeDLightShadow;
}

#plus-button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	cursor: not-allowed;
}

footer {
	font-style: italic;
	font-size: 0.8em;
}

.slider h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
	border-bottom: 1px dotted rgba(128, 128, 128, 0.35); /* transparent grey */
	width: 95%;
}


.slider h4:first-child {
	margin-top: 0.3em;
}

.slider {
	padding-left: 0.5em;
	overflow-y: auto;
	max-height: 500px; /* approximate max height */
	border: 1px solid black;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
	border: none;
}

ol > li:first-child {
	margin-top: 0;
}


@media screen and (min-width: 350px) {
	body {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 350px) {
	body {
		margin-left: 1em;
	}
	ul {
		padding-inline-start: 11%;
	}
	ol {
		padding-inline-start: 8%;
	}
	ol > li:not(:first-child) {
		margin-top: 0.5em;
	}
}

/* Not too sure about this rule. */
@media screen and (max-height: 621px) {
	body {
		margin-bottom: 2em;
	}
}

/* https://codepen.io/912lab/pen/LsplC */
input[type=search] {
	font-family: inherit;
	font-size: 100%;
	color: inherit;
	background: url(../icon/search.svg) no-repeat 0;
	padding: 5px 0;
	width: 40px;
	border: 0;

	-moz-border-radius: 10em;
	border-radius: 10em;

	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	background-color: #fff;
	border: revert;

	width: 100%;
	padding-left: 32px;
	background-color: #fff;
	cursor: auto;
}

input[type=search]::placeholder {
	color: transparent;
}
input[type=search]:focus::placeholder {
	color: inherit;
}

footer {
	display: flex;
	justify-content: space-between;
	margin-top: 0.4em;
	align-items: baseline;
	/* Looks a tad big when it is not full height (no scrollbar) but whatever. */
	padding-bottom: 1em;
}
